.new-password
  .container
    header-directive
    .new-password-container
      form.new-password-form(name="newPasswordForm",
        ng-submit="vm.setNewPassword()",
        novalidate)
        h5.new-password-title Password Setting
        div.new-password-content Enter new password.
        input(
          type="password",
          placeholder="Password",
          min="3",
          max="100",
          required,
          ng-model="vm.passwordData.newPassword")
        input(
          type="password",
          placeholder="Confirm password",
          min="3",
          max="100",
          required,
          ng-model="vm.passwordData.confirmPassword")
        p(ng-bind="vm.errorPassword")
        div
          button.new-password-button(
            type="submit",
            ng-disabled="newPasswordForm.$invalid") Submit
