.new-password
  .container
    header-directive
    .new-password-container
      form.new-password-form(name="newPasswordForm",
        ng-submit="",
        novalidate)
        h5.new-password-title Password Setting
        div.new-password-content Enter new password.
        input(
          type="text",
          placeholder="Password",
          min="3",
          max="100",
          required)
        input(
          type="password",
          placeholder="Confirm password",
          min="3",
          max="100",
          required)
        div
          button.new-password-button(
            type="submit") Submit
