.reset-password
  .container
    header-directive
    .reset-password-container
      form(name="resetPasswordForm",
        ng-submit="",
        novalidate)
        h5.reset-password-title Password Reset
        p.reset-password-content Enter your 
          b username
          , or the 
          b email address 
          |that you ised to register. We'll send you an email with your username and link to reset your password.
        input(
          type="text",
          name="username",
          placeholder="Username or E-mail",
          ng-model="vm.user.login",
          min="3",
          max="100",
          required)
        div
          button(
            type="submit",
            ng-disabled="") Log in
        a.forgot-password(href="#", class="f-ps") Forgot password?
