.reset-password
  .container
    header-directive
    .reset-password-container
      form.reset-password-form(name="resetPasswordForm",
        ng-submit="vm.resetPassword()",
        novalidate)
        h5.reset-password-title Password Reset
        div.reset-password-content Enter new 
          b password
          , or the 
          b email address 
          |that you used to register. We'll send you an email with your username and link to reset your password.
        input(
          type="text",
          ng-model="vm.email",
          placeholder="Username or E-mail",
          min="3",
          max="100",
          required)
        p.error-message(ng-bind="vm.errorResetMessage")
        div
          button.reset-password-button(
            type="submit") Submit
