.locations-page
  .container
    header-directive(class-name="'adaptive'")
    .locations.main-border-bottom
      .big-indent-bottom.big-indent-top
        .row.location(ng-repeat="location in vm.locations")
          .col-sm-3.font-small
            .bold-title(ng-if="!$index") Locations

          .col-sm-6.new-location(ng-if="location.editMode")
            input.form-control(
              ng-model="location.name"
              type="text"
              placeholder="Location name")
          .col-sm-6.font-small.ellipsis(ng-if="!location.editMode")
            span(ng-bind="location.name")
          .col-sm-3.location-controls
            button.btn.btn-primary.btn-circle(
              type="button"
              ng-click="vm.remove(location._id)"
              ng-if="!location.editMode")
              i.glyphicon.glyphicon-remove
            button.btn.btn-primary.btn-block(
              type="button"
              ng-if="!location.editMode"
              ng-click="vm.editMode(location)") Edit
            button.btn.btn-primary.btn-block(
              type="button"
              ng-if="location.editMode"
              ng-click="vm.editLocation(location)") Done
        .row.form-group.new-location-block.main-height
          .col-sm-3
          .col-sm-6.new-location
            input.form-control(ng-model="vm.newLocation.name" type="text" placeholder="Location name")
          .col-sm-3
            button.btn.btn-primary.btn-block(type="button" ng-click="vm.add(vm.newLocation)") Add Location
