.blocking-part.main-border-bottom
  .big-indent-bottom.big-indent-top
    .row
      .long-block.font-regular
        span(ng-bind="'Welcome, ' + vm.managerName +'!'")
        span.contractsTime(ng-bind="'Your contract will be expired in '+ vm.contractsTime + ' ' +vm.timeMeasure +' !'"
          ng-class="vm.timeEndClass")
      .right-block
        a.btn.btn-primary.btn-block(href="http://www.reportexec.com/" target="_blank") Report Exec
    form.row.form-group.font-small(name="blocking-form"
      ng-submit="vm.block(blocking-form)")
      .left-block
        span Block towing from
      .center-block.date-range
        input.form-control(type="date"
          ng-model="vm.dateFrom"
          required)
        input.form-control.time(type="time"
          ng-model="vm.timeFrom"
          placeholder="hrs:mins")
        span.connector to
        input.form-control(type="date"
          ng-model="vm.dateTo"
          required)
        input.form-control.time(type="time"
          ng-model="vm.timeTo")
      .right-block
        button.btn.btn-primary.btn-block(type="submit"
          ng-disabled="blocking-form.$invalid") Block
      .row.font-small
        .long-block.reason-block
          span Reason
          input.reason-input(type="text"
            ng-model="vm.blockingData.reason"
            required)
      .bloking-list-container
        .center-block.blocking-list
          p.blocking-list-title Reason
          p.blocking-list-title Date from
          p.blocking-list-title Date To
        div(ng-repeat="blocking in vm.blockingDataArr")
          blocking-text(
            ng-hide="blocking.editMode"
            blocking="blocking")
          edit-blocking(
            ng-show="blocking.editMode"
            blocking="blocking")
          .right-block
            button.btn.btn-primary.btn-block.unblocking-button(
              ng-hide="blocking.editMode"
              type="button"
              ng-click="vm.unblocking(blocking._id)") Unblock
            button.btn.btn-primary.btn-block.unblocking-button(
              ng-hide="blocking.editMode"
              type="button"
              ng-click="vm.showEditBlocking($index)") Edit
            button.btn.btn-primary.btn-block.unblocking-button(
              ng-show="blocking.editMode"
              type="button"
              ng-click="vm.editBlocking($index, blocking._id)") Save