.blocking-part.main-border-bottom
  .big-indent-bottom.big-indent-top
    .row
      .long-block.font-regular
        span(ng-bind="'Welcome, ' + vm.managerName +'!'")
        span.contractsTime(ng-bind="'Your contract will be expired in '+ vm.contractsTime + ' ' +vm.timeMeasure +' !'"
          ng-class="vm.timeEndClass")
    form.row.form-group.font-small(name="blocking-form"
      ng-submit="vm.block(blocking-form)")
      .left-block
        span Block towing from
      .center-block.date-range
        input.form-control(type="date"
          ng-model="vm.dateFrom"
          required)
        select.form-control.hoursSelect(
          ng-model="vm.hoursFrom"
          ng-options="item.value as item.text for item in vm.hoursSelect"
        )
        select.form-control.minutesSelect(
          ng-model="vm.minutesFrom"
          ng-options="item.value as item.text for item in vm.minutesSelect"
        )
        span.connector to
        input.form-control(type="date"
          ng-model="vm.dateTo"
          required)
        select.form-control.hoursSelect(
          ng-model="vm.hoursTo"
          ng-options="item.value as item.text for item in vm.hoursSelect"
        )
        select.form-control.minutesSelect(
          ng-model="vm.minutesTo"
          ng-options="item.value as item.text for item in vm.minutesSelect"
        )
      .right-block
        button.btn.btn-primary.btn-block(type="submit"
          ng-disabled="blocking-form.$invalid") Block
      .row.font-small
        .long-block.reason-block
          span Reason
          input.reason-input(type="text"
            ng-model="vm.blockingData.reason"
            required)
          span.error-message(
            ng-bind="vm.errorMessage"
            ng-if="vm.errorMessage")
      .bloking-list-container
        .center-block.blocking-list
          p.blocking-list-title Reason
          p.blocking-list-title Date from
          p.blocking-list-title Date To
        div(ng-repeat="blocking in vm.blockingDataArr")
          .center-block.blocking-list
            p.reason-list(ng-bind="blocking.reason")
            p.blocking-list-input{{blocking.from}}
            p.blocking-list-input{{blocking.to}}
          .right-block
            button.btn.btn-primary.btn-block.unblocking-button(type="button" ng-click="vm.unblocking(blocking._id)") Unblock