.property-matrix-part.main-border-bottom
  .big-indent-bottom.big-indent-top
    .row
      .col-sm-3.font-small
        .bold-title Property Towing Matrix
      .col-sm-6.font-small
        form.property-matrix-form(name="property-matrix-form")
          input.form-control(type="text"
            name="property-name"
            placeholder="Property name")
          .expiration-data-container
            span Expiration data
            input.form-control.date(type="date")
          .place
            label
              input(type="radio"
                name="place"
                value="City")
              span.city City
            label
              input(type="radio"
                name="place"
                value="Country")
              span Country
          input.form-control(type="text"
            name="hook-up"
            placeholder="Hook-Up $")
          input.form-control(type="text"
            name="property-address"
            placeholder="Property address")
          input.form-control(type="text"
            name="ZIP-code"
            placeholder="ZIP code")
          .roam-container
            span.roam-title Roam
            label
              input(type="radio"
                name="roam"
                value="No")
              span.roam-text No
            label
              input(type="radio"
                name="roam"
                value="Yes")
              span.roam-text Yes
          input.form-control(type="text"
            name="MCLPN"
            placeholder="MCLPN (office use only)")
          .day
            span 24/7
            label
              input(type="checkbox"
                value="Mon")
              span Mon
            label
              input(type="checkbox"
                value="Tue")
              span Tue
            label
              input(type="checkbox"
                value="Wed")
              span Wed
            label
              input(type="checkbox"
                value="Thu")
              span Thu
            label
              input(type="checkbox"
                value="Fri")
              span Fri
            label
              input(type="checkbox"
                value="Sat")
              span Sat
            label
              input(type="checkbox"
                value="Sun")
              span Sun
          p Roam reasons:
          input.form-control(type="text"
            placeholder="No or Exp.Decal/Type")
          input.form-control(type="text"
            placeholder="Grace Days")
          input.form-control(type="text"
            placeholder="No or Exp Visitor Pass/ Grace Minutes")
          input.form-control(type="text"
            placeholder="Visitor Pass Type")
          input.form-control(type="text"
            placeholder="Hand-Written Notes")
          input.form-control(type="text"
            placeholder="No or Exp Tag / Grace Days")
          input.form-control(type="text"
            placeholder="Flat Tire / Grace Days")
          .reasons-container
            label
              input(type="checkbox"
                value="On-Grass")
              span On-Grass
            label
              input(type="checkbox"
                value="Fire Lane")
              span Fire Lane
            label
              input(type="checkbox"
                value="No Park Zone")
              span No Park Zone
            label
              input(type="checkbox"
                value="Handicap")
              span Handicap
            label
              input(type="checkbox"
                value="Failure to Pay")
              span Failure to Pay
            label
              input(type="checkbox"
                value="Jacks")
              span Jacks
            label
              input(type="checkbox"
                value="Backed-In")
              span Backed-In
            label
              input(type="checkbox"
                value="Scooter")
              span Scooter
            label
              input(type="checkbox"
                value="Future Residental Parking After Hours")
              span Future Residental Parking After Hours
          textarea.form-control.notes(placeholder="Notes / Special Circumstances")
          .button-container
            button.btn.btn-submit(type="submit") Save changes
