header(class="{{className}}")
  div.navigation
    a.home-button(href="#/" title="Home") Home
    a.login-button(
      title="Login"
      href="#/login"
      ng-if="!vm.user") Login
    a.logout-button(
      title="Logout"
      ng-click="vm.logout()"
      ng-if="vm.user") Logout
  a(href="#/")
    img.logo(src="files/logo-280.png")
  div.contacts
    div.phone
      img.icon(src="files/phone-icon.png")
      span.text 844-CAR-TOWED
    div.location
      img.icon(src="files/location-icon.png")
      span.text 907 SW 3rd St. Gainesville, FL
.logauut-popup-container(ng-if="vm.isShownLogoutPopup")
  .logout-popup
    p You are logged out
    .button-container
      button.btn.btn-submit(ng-click="vm.closePopup()") OK
