.admin-got-towed
  .container
    .content
      header-directive
      admin-menu-directive
      .got-towed-info
        form(
          name="gotTowedForm"
          ng-submit="vm.addGotTowed(gotTowedForm)"
          )
          .got-towed-value
            h2 Enter got towed information
            input(
              type="text"
              placeholder="Address"
              ng-model="vm.data.adress")
            div
              h3 Enter taxi information
              input.taxi(
                type="text"
                placeholder="Taxi name"
                ng-model="vm.data.taxiName")
              input.taxi(
                type="text"
                placeholder="Taxi phone"
                ng-model="vm.data.taxiPhone")
            div
            ng-quill-editor(
              ng-model="message"
              toolbar="true"
              link-tooltip="true"
              image-tooltip="true"
              toolbar-entries="size bold list bullet italic underline strike align color background link"
              editor-required="true"
              theme="snow"
              error-class="input-error")
            button.create(
              type="submit") Create